:root {
 --primary-font-family: "UnifrakturMaguntia", cursive;
 --secondary-font-family: "Uncial Antiqua", system-ui; 
 --text-font-family:"IM Fell English", serif;
}

.App-logo {
  max-width: 100px;
  display: block;
  margin: 15px 0px;
}

.App h1 {
  font-family: var(--primary-font-family);
  font-size: 48px;
}

.App h2 {
  font-family: var(--text-font-family);
  font-size: 25px;
}

.App h1, h2 {
  margin: 25px auto;
  text-align: center;
}

.App footer {
  margin: 30px 0;
}