:root {
 --primary-font-family: "UnifrakturMaguntia", cursive;
 --secondary-font-family: "Uncial Antiqua", system-ui; 
 --text-font-family:"IM Fell English", serif;
 --primary-color: #D4AF37;
 --secondary-color: #512b6b;
}

body {
  background: radial-gradient(circle at center, #2b1d42, #2b1d42 40%, #301e47 70%, #3d2a5c 85%, #512b6b);  color: #000;
  padding: 20px;
  color: var(--primary-color);
}

.container {
  border: 2px solid var(--primary-color);
  padding: 20px;
  max-width: auto;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.App-logo {
  max-width: 100px;
  margin: 10px auto;
  color: white;
  background-color: transparent;

}

.App h1 {
  font-family: var(--primary-font-family);
  font-size: 48px;
  margin: 25px 0;
  text-transform: capitalize;
}

.App .slogan {
  font-family: var(--text-font-family);
  font-size: 25px;
  font-style:italic; 
}

.App h1, h2 {
  text-align: center;
}

main h3 {
  font-family: var(--secondary-font-family);
  font-size: 19px;
  margin: 80px 0 0 0;
  text-align: center;
  color: white;
}

.App h2,h3 {
  font-size: 24px;
  margin: 0 0 45px 0;
}

main {
  display: block;
}

.App footer {
  margin: 30px 0;
  font-family: var(--text-font-family);
}

footer a {
  color: white;

}