:root {
    --primary-font-family: "UnifrakturMaguntia", cursive;
    --secondary-font-family: "Uncial Antiqua", system-ui; 
    --text-font-family:"IM Fell English", serif;
    --primary-color: #D4AF37;
    --secondary-color: #512b6b;
      }


form {
    text-align: center;
    display: block;
}

.revealButton {
    margin: 10px;
    font-family: var(--text-font-family);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px !important;
    padding: 3px 15px;
}

.SpellDictionary .spell-info h2 {
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    margin: 0 0 5px 0;
}

.spell-info h3 {
    font-family: var(--text-font-family) !important;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    margin: 10px 0 5px 0;

}

.spell-info {
    margin: 50px auto;
    padding: 50px;
    width: 500px;
    font-family: var(--text-font-family);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 34px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.spellEffect, .spellCategory, .spellLight {
    font-size: 18px;
    background-color: #dbbc57;
    margin: 20px auto;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    
    width: 390px;
    display: flex;
    flex-direction: column;

}

.spell-image {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 390px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}

@media (max-width: 430px) {
    
    .spell-info {
        margin: 20px;
        padding: 30px;
        width: auto;
    }

    .spell-info h2, h3 {
        font-size: 20px !important;
    }

    .spellEffect, .spellCategory, .spellLight {
        width: auto;
        padding: 10px;
        font-size: 16px;
    }
}
