:root {
    --primary-font-family: "UnifrakturMaguntia", cursive;
    --secondary-font-family: "Uncial Antiqua", system-ui; 
    --text-font-family:"IM Fell English", serif;
    --primary-color: #D4AF37;
    --secondary-color: #512b6b;
      }


form {
    text-align: center;
    display: block;
}

.revealButton {
    margin: 10px;
    font-family: var(--text-font-family);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px !important;
    padding: 3px 15px;
}

.SpellDictionary .spell-info h2 {
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    margin: 0 0 5px 0;
}

.SpellDictionary .spell-info p {
    font-size: 20px;
    margin: 35px auto;
    text-align: left;
}

.spell-info {
    margin: 30px auto;
    padding: 50px;
    width: 480px;
    font-family: var(--text-font-family);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 34px;

}
